[Desktop Entry]
Name=Ashes: Hard Reset (Episode 2 Prequel)
Comment=Post-Apocalyptic DOOM2-Mod
Exec=ashes-hard-reset
Icon=ashes-hard-reset
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=game;freedoom;doom;first;person;shooter;
