[Desktop Entry]
Name=Ashes: 2063 (Episode 1 & Dead Man Walking expansion)
Comment=Post-Apocalyptic DOOM2-Mod
Exec=ashes-2063-1
Icon=ashes-2063-1
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=game;freedoom;doom;first;person;shooter;
