[Desktop Entry]
Name=Freedoom: Phase 1
Comment=Doom styled first person shooter game
Exec=gzdoom -iwad /usr/share/doom/freedoom1.wad
Icon=freedoom
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=game;freedoom;doom;first;person;shooter;
