[Desktop Entry]
Name=Ashes: Afterglow (Episode 2)
Comment=Post-Apocalyptic DOOM2-Mod
Exec=ashes-afterglow
Icon=ashes-afterglow
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=game;freedoom;doom;first;person;shooter;
