[Desktop Entry]
Name=Ashes: 2063 (Episode 2: Afterglow)
Comment=Post-Apocalyptic DOOM2-Mod
Exec=ashes-2063-2
Icon=ashes-2063-2
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=game;freedoom;doom;first;person;shooter;
